<!DOCTYPE html>
<html lang="ch">

<head>
	<script>
		var _hmt = _hmt || [];
		(function() {
		  var hm = document.createElement("script");
		  hm.src = "https://hm.baidu.com/hm.js?7736a1422368b4c8db26825fc6b02c4c";
		  var s = document.getElementsByTagName("script")[0]; 
		  s.parentNode.insertBefore(hm, s);
		})();
	</script>
		
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>刘刚刚的个人博客</title>
	<link rel="stylesheet" href="/static/blog/index.css">
	<link rel="stylesheet" href="/static/blog/base.css">
	<link rel="stylesheet" href="/static/blog/common.css">
</head>

<body>
	<div class="top-bg"></div>
	<div class="header text-center bg-black c-white">
		<h1>刘刚刚的个人博客</h1>
	</div>
	<div class="container flex">
		<div class="c-left">
			<div class="article-list bg-white left-block">
				<h2><a href="/">最新博文</a></h2>
				<hr>
				{foreach  $list as $key=>$vo}
					<a href=""><h3>{$vo['title']}</h3></a>
					<div class="flex article-box">
						<div class="article-left" >
							<div class="article-img" style="background-image: url(/upload/{$vo['image']})"></div>
						</div>
						<div class="article-right flex-column">
							<div class="introduce ">
								{$vo['introduce']}
							</div>
							<div class="more flex">
								<div class="info flex">
									<img src="/static/blog/jitui.png" alt="">
									<span class="c-gray">{$vo['create_time']}</span>
								</div>
								<div class="detail" title="{$vo['title']}"><a href="detail/{$vo['id']}">阅读内容</a></div>
							</div>
						</div>
					</div>
				{/foreach}
				<div class="article">
					<h3>作为一名设计师,能否恪守自己的原则？</h3>
					<div class="flex article-box">
						<div class="article-left" >
							<div class="article-img" style="background-image: url(https://stacdn.binstd.com/static/images/iconv2/bus.png)"></div>
						</div>
						<div class="article-right flex-column">
							<div class="introduce ">
								网页常见的布局有很多种,单列布局,多列布局.其中单列布局是国外很多网站比较常用的.咱们很多站长以及门户网站都使用的是是两列布局,很少用三列布局的.下面我来分享下我们常用的网页布局格式以及设计技巧
							</div>
							<div class="more flex">
								<div class="info flex">
									<img src="/static/blog/jitui.png" alt="">
									<span class="c-gray">2011-11-09</span>
								</div>
								<div class="detail">阅读内容</div>
							</div>
						</div>
					</div>
				</div>
			</div>

		</div>
		<div class="c-right">
			<div class="c-r-box myinfo">
				<div class="myinfo-title">
					我的名片
				</div>
				<div class="myinfo-detail">
					<p>昵称：shuta</p>
					<p>职业：后台开发(php)</p>
					<p>邮箱：648949076@qq.com</p>
				</div>
			</div>
			<div class="c-r-box mysite bg-white">
				<div class="mysite-title">
					站点信息
				</div>
				<hr bg-gray>
				<div class="mysite-detail">
					<div>
						<strong>建站时间：</strong>
						<span class="c-gray">2020/2/19</span>
					</div>
					<div>
						<strong>网站程序：</strong>
						<span class="c-gray">ANTD PRO VUE + TP6.0</span>
					</div>
					<div>
						<strong id = "day"class="c-gray"></strong>
					</div>
				</div>
			</div>
		</div>
	</div>

</body>
<script>
	    window.onload = function(){
			let startTime = new Date('2020-2-18'); // 开始时间
			let endTime = new Date(); // 结束时间
			let day = Math.floor((endTime - startTime) / 1000 / 60 / 60 / 24);
			document.getElementById("day").innerHTML ="站点已运行"+day+"天";
		}
		
</script>
</html>