<div class="link">
    <span>友情链接：</span>
    <a href="http://baijunyao.com" target="_blank"><span>白俊遥博客</span></a>
    <a href="http://www.ahuang.site/" target="_blank"><span>雨的记忆</span></a>
    <a href="https://www.yangpanyao.com" target="_blank"><span>杨攀遥博客</span></a>
</div>
<style>
    .link{
        font-size:0.8rem;
        color:rgba(200,200,200,0.85);
    }
    .link>a{
        color:rgba(200,200,200,0.8);
        margin-right:10px;
        margin-top:5px;
    }
    .link>a:hover{
        color:rgb(40,120,255)
    }
</style>